*{
    font-size: 1.5rem;
}
.memberCoinOut{
    width: 80%;
    padding: 4% 4%;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	overflow: hidden;
}

.coin{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin img{
    margin-right: 15px;
}


/* 標題排版 */
.title {
    margin-left:10rem;
}
.title:last-of-type{
    margin-left:15rem;
}