<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/reset.css">
    <link rel="stylesheet" href="./CSS/pro.css">
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
    <title>about</title>
</head>

<body>
    <div class="header">
        <a href="#" class="logo"><img src="./img/logo.png" width="8%" alt="logo"></a>
        <nav>
            <a href="#">關於我們</a>
            <a href="#">限時特價</a>
            <a href="#">商品</a>
        </nav>
    </div>
    <div class="warp">
        <!-- 產品介紹外框-->
        <div class="A">
            <div class="pro_1">
                <div class="pic_01">
                    <img src="/img/B001/B001_01.jpg" width="550px" alt="">
                </div>
                <div class="pic_02">
                    <img src="/img/B001/B001_02_800_800.jpg" width="110px" alt="">
                    <img src="/img/B001/B001_03_800_800.jpg" width="110px" alt="">
                    <img src="/img/B001/B001_04_800_800.jpg" width="110px" alt="">
                </div>
                <div class="pic_tex">
                    <p>超商取貨滿$399免運<img src="/img/B001/shoplogo.png" width="150px" alt=""> </p>
                </div>
            </div>
        </div>

        <div class="pro_2">
            <div class="pic_04">
                <strong>Hant-hant極光唇膏</strong>
                <h1>#超滿$399免運</h1>
                <strong>$280元</strong>
                <h3>色號<li class="fa fa-heart-o" aria-hidden="true"></li>
                </h3>
                <div class="but_1">
                    <button onclick="a()">001極光赤紅</button>
                    <button onclick="b()">002極光果紅</button>
                    <button onclick="c()">003極光焦紅</button>
                    <br>
                    <button onclick="d()">004極光豆紅</button>
                    <button onclick="e()">005極光美棕</button>
                    <button onclick="f()">006極光蜜茶</button>
                </div>
                <div>-+1-252633030</div>
                <div class="but_2">
                    <button onclick="g()">立即結帳</button>
                    <button onclick="h()">加入購物車</button>
                </div>
                <div class="pro_3">
                    <p>商品特色</p>
                    <p>商品編號:</p>
                    <p>A001</P>
                    <ul>產品特色:</ul>
                    <li>塗上雙唇即刻釋放鮮明水潤色澤</li>
                    <li>如同極光瞬息萬變，可層次壘加的水透光夢幻色彩</li>
                </div>
            </div>
        </div>
    </div>
    <div class="warp_2">
        <h1>商品介紹</h1>
        <div class="pic_7">
            <img src="/img/B001/B001_800_3000_工作區域 1.jpg" alt="">
        </div>
    </div>
    <div class="warp_3">
        <h1>留言板</h1>
    </div>
</body>

</html>