/* 最上欄log + icon + navbar */
.header {
	position: sticky;
	top: 0;
	transition: top 0.6s ease-in-out;
	box-shadow: var(--boxShadow1);
	z-index: 2;
}

/* header logo */
/*.rightIcon {
	height: 100px;
	background-color: var(--blueColor);
}*/

.rightIcon img {
	height: 100px;
	padding: 0 50px;
	object-fit: cover;
}

/* nav bar */
.header .navbar {
	display: flex;
	justify-content: flex-end;
	background-color: var(--blueColor);
}

.navBoxL,
.navBoxR {
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid;*/
}

.navBoxR {
	position: relative;
	margin: 0 6%;
	padding: 18px 0;
}

.navBoxR .fa-shopping-cart ~ .headerCartBox {
	position: absolute;
	display: none;
	justify-content: center;
	/* display: none; */
	/* height: 200px; */
	width: 350px;
	top: 0;
	right: -10%;
	margin-top: 83px;
	padding: 16px;
	background-color: #fff;
	border: 2px solid var(--brownColor3);
	border-top: 0;
}

.navBoxR:hover .fa-shopping-cart ~ .headerCartBox {
	display: block;
	display: flex;
}

.navBoxL a {
	padding: 25px 30px;
	font-size: 1.9rem;
	font-weight: 500;
	color: #ffffff;
}

.navBoxR a {
	padding: 10px 15px;
	font-size: 2.3rem;
	font-weight: 600;
	/*text-shadow: #989999 1px 1px 3px;*/
	color: #ffffff;
}

.navBoxR .fa-shopping-cart {
	position: relative;
}
.cartQty {
	position: absolute;
	font-size: 24px;
	right: -20%;
	top: 0;
	color: var(--orangeColor);
}

/*header a:link {
	color: var(--redColor);
}*/

/* nav bar--end */
