/* #cart {
  display: flex;
  justify-content: center;
  background: url('../images/background/bg1.jpg');
}

#cart .container {
  width: 100%;
  margin: 32px 0;
}

.cartBox {
  width: 100%;
  padding: 36px;
  border-radius: 12px;
  background-color: #fff;
}

.cartBox h1 {
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 32px;
}

.cartBox hr {
  margin-bottom: 16px;
}

.cartTableBox {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cartTable {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.cartTable th,
.cartTable td {
  padding: 16px;
}

.cartTable th:first-child {
  border-top-left-radius: 10px;
}

.cartTable th:last-child {
  border-top-right-radius: 10px;
}

.cartTable thead {
  font-size: 20px;
  background-color: var(--orangeColor);
} */

.headerCartBox .headerProductItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px dotted;
}
.headerProductItem .productName {
  display: flex;
  text-align: left;
  align-items: center;
  flex: 3;
}

.headerProductItem .productName div:first-child img {
  margin-right: 16px;
}

.headerProductItem .productName div:last-child a {
  font-size: 14px;
  color: #666;
  padding: 0;
}
.headerProductItem .productName div:last-child p {
  color: #666;
}

.headerProductItem .productQuantity {
  /* width: 30px; */
  /* flex: 1; */
}

.headerProductItem .productQuantity input {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: 14px;
  margin: 0 16px;
  color: var(--brownColor3);
}

/* .headerProductItem .productQuantity div {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  background-color: var(--redColor);

  vertical-align: middle;
  cursor: pointer;
} */
/* .headerProductItem .productQuantity div:hover {
  background-color: var(--brownColor3);
} */
.headerProductItem .headerBoxSubtotal {
  /* flex: 1; */
}
.headerProductItem .tdDelete {
  /* flex: 1; */
}

.headerProductItem .btnDelete {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 16px;
}

.headerProductItem .btnDelete:hover i {
  color: var(--brownColor3);
}
