*{
       box-sizing: border-box;
}
html{
    --blueColor1:#383D53;
    --blueColor2:#86ADA9;
    --pinkColor:#DEAD9E;
    --red:#8A4C48;
    --brown:#BF744A;
    --sandYellow:#D48E50;
    --Yellow:#EDB679;
    --White:#FFFFFF;
    --gray:#A9A5A0;
    --black:#000000;
    /* width: 100% ;
    height: 100% ; */
}
/* 文字+背景 */
body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height:2;
}
/*header*/
.header{
    display: flex;
    background:var(--blueColor1);
    padding: 10px;
}

/*header的logo+nav bar*/
.header .logo{
    display: inline-block;
    padding: 10px;
}

.header nav{
width: 100%;
text-align: right;
font-size: 0px;
}

.header nav a{
display: inline-block;
color:var(--White);
text-decoration:none;
font-size: 30px;
padding: 10px 50px 10px 0px;
}
/*產品介紹外框*/
.warp{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.warp .A .pro_1 .pic_01{
    display: flex;
    flex-direction: row;
}
.warp .A .pro_1 .pic_01 .pic_02 img{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
}

.warp .A .pro_1 .pic_tex p{
    text-align: left;
    font-size: 20px;
}

.warp  .pro_2 .pic_04 strong{
    font-size: 48px;
}
.warp  .pro_2 .pic_04 h1{
    width: 200px;
    margin: 10px 3px;
    font-size: 24px;
    color: var(--red);
    border: var(--red) 2px solid;
    border-radius: 10px;
    text-align: center;
}

.warp  .pro_2 .pic_04 .but_1 button{
    width: 150px;
    margin: 10px 3px;
    font-size: 20px;
    color: var(--red);
    border: var(--red) 2px solid;
    border-radius: 10px;
    text-align: center;
}

.warp  .pro_2 .pic_04 .but_2 button{
    width: 230px;
    margin: 10px 3px;
    font-size: 36px;
    color: var(--red);
    border: var(--red) 2px solid;
    border-radius: 10px;
    text-align: center;
}


.warp .pro_2 .pic_04 h3{
    font-size: 18px;
    text-align:left;
    display: block;
}

.warp .pro_2 .pro_3{
    background-color:rgba(173, 173, 173,.3);
    border-radius: 10;
    font-size: 18px;
    padding: 15px;
}


.warp_2{
width:100%;
background: url(/img/B001/背景.jpg) no-repeat top / cover ;
}

.warp_2 h1,.warp_3 h1{
color: var(--White);
font-size:36px;
text-align: center;
background-color: var(--brown);
}

.warp_2 .pic_7{
width: 800px;
margin: auto;
}
 .warp_2 .pic_7 img{
    vertical-align: middle;
    width: 100%;
    object-fit: contain ;
 }