.productMain {
	background: url("../images/background/bg2.jpg") center/cover;
}

/*廣告*/
.productBanner img {
	width: 100%;
	height: 84vh;
	object-fit: cover;
}

/*商品頁*/
.productPage > img {
	position: absolute;
	top: 2%;
	width: 97%;
	height: 96%;
}

.productPage {
	position: relative;
	margin-top: 5%;
	background: #ffffff;
	/*border: 1px solid;*/
}

.hotItems .title {
	margin: 20% 0 80px;
	text-align: center;
}

.hotItems h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 0.8rem;
}

.hotItems .title span {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-right: 9.6px;
	vertical-align: middle;
	background: url(../images/icon1.png) no-repeat center/cover;
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--i), 1fr);
	/*grid-auto-rows: minmax(100px, auto);*/
	grid-gap: 50px;
	/*border: 1px solid;*/
}

/*@media only screen and (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}*/

/*@media only screen and (max-width: 800px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}*/

.card {
	position: relative;
	max-width: 200px;
	/*max-width: 20vw;*/
	/*padding: 2.85%;*/
	/*border-style: solid;*/
	/*border-width: 5px 1px;*/
	/*border-radius: 5px;*/
	/*border-color: var(--redColor) var(--grayColor);*/
	/*background-color: var(--blueGreenColor);*/
	/*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
	/*transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);*/
	z-index: 1;
}
/*
.card:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}*/

/*愛心*/
.card .love {
	position: absolute;
	top: 0;
	right: 0;
	height: 10%;
	padding: 0 5px;
	text-align: center;
	font-size: 2.3rem;
	font-weight: bold;
	color: var(--brownColor3);
	border-radius: 0 0 5px 5px;
	background-color: var(--orangeColor);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	transform-origin: top center;
	transform: scaleY(0);
	transition: transform 0.3s ease-in-out;
	z-index: 1;
}

.card:hover .love {
	transform: scaleY(1);
}

/*.cardinside {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 5% 0;
	background-color: rgb(253, 222, 164);
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) inset, 0 10px 10px rgba(0, 0, 0, 0.22) inset,
		0 3px 6px rgba(0, 0, 0, 0.16) inset, 0 3px 6px rgba(0, 0, 0, 0.23) inset;
}*/

.previewIMG img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	/*filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.3));*/
	/*transform: translateY(20%) scale(1.3);*/
	/*transition: transform 0.5s ease-in-out;*/
}

/*.card:hover .previewIMG img,
.card:hover .previewIMG h5 {
	transform: translateY(0) scale(1);
}*/

/*簡介*/
.productInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background-color: #ffffff4d;*/
	/*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
	/*transition: all 0.5s ease-in-out;*/
	/*opacity: 0;*/
	/*z-index: 1;*/
}

/*.card:hover .introduction {
	opacity: 1;
}*/

.productInfo .productName {
	width: 100%;
	margin-top: 15px;
	padding: 10px;
	text-align: center;
	font-size: 2.4rem;
	border: solid #000;
	border-width: 0 0 1.8px;
}

.productName h5 {
	font-weight: 500;
}

.productInfo i {
	margin-top: 5%;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	color: var(--brownColor3);
	/*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
/*
.introduction button {
	float: right;
	width: 35%;
	padding: 3% 0;
	border: 0;
	border-radius: 5px;
	background-color: var(--redColor);
	color: #ffffff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.introduction button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}*/

/*分類導航欄*/
.kindNav .grid {
	grid-gap: 0;
}

.kindNav {
	width: 100%;
	margin: 12% 0 7%;
	/*border: 1px solid;*/
}

.kindNav ul {
	display: flex;
	justify-content: center;
	/*border: 1px solid;*/
}

.kindNav li {
	padding: 0.5% 2%;
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.3rem;
	color: #000;
	background-color: var(--redColor);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	z-index: 1;
	/*border: 1px solid;*/
}

.kindNav li:hover {
	color: #ffffff;
	background-color: var(--blueColor);
}

.kindNav .click {
	color: #ffffff;
	background-color: var(--blueColor);
}

/*換頁*/
.page {
	margin: 5% 0 13%;
	z-index: 1;
	/*border: 1px solid;*/
}

.page a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	/*background-color: var(--redColor);*/
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.page a:first-child,
.page a:last-child {
	background-color: var(--blueColor);
	color: #ffffff;
}

.page .click {
	background-color: var(--redColor);
}

.page a:hover {
	transform: translate(0, -10%);
}
